<header>
  <h1>Dependency Lookup</h1>
  <form class="search" data-search-form action="./" method="get">
    <label for="search-package">npm package:</label>
    <input type="text" id="search-package" name="pkg" value="{{query}}" />
    <button type="submit">Search</button>
  </form>
</header>